@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://cdn.boxicons.com/fonts/basic/boxicons.min.css');

@mixin flex-center($mode: 1){
  display: flex;
  align-items: center;

  @if $mode == 1{
    justify-content: center;
  }@else if $mode == 2{
    justify-content: flex-start;
    flex-direction: column;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Noto Sans TC", Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  color: rgba(255, 255, 255, 0.99);
  font-weight: 400;
}

body, #root{
  width: 100%;
  min-height: 100vh;
  background-color: #242424;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#root{
  flex-direction: row;
}

a{
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-decoration: inherit;
}
// a:hover {
//   color: rgb(83, 91, 242);
// }

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input{
  outline: none;
  border: none;
  border-radius: .25em;

  padding: .3em .5em;

  letter-spacing: .05em;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button{
  background-color: rgb(249, 249, 249);
  cursor: pointer;

  outline: none;
  border-radius: 8px;
  border: 1px solid transparent;

  padding: 0.5em 1.0em;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}
button:not(.btn-df):hover {
  border-color: rgb(100, 108, 255);
}
button:not(.btn-df):active{
  transform: scale(0.99);
}
button.btn-df{
  background-color: transparent;
  border: none;
  padding: 0;
  color: rgba(255, 255, 255, 0.99);
}

::-webkit-scrollbar{
  --w: 5px;
  width: var(--w);
  height: var(--w);
}
::-webkit-scrollbar-thumb{
  background-color:rgb(121, 121, 121);
  border-radius: 99999px;
}

.Toastify__close-button{
  display: none !important;
}
.Toastify__toast{
  width: fit-content !important;
  min-width: 200px; max-width: 500px !important;
}

// 淡入動畫
.fade-in{
  animation: fade-in 0.75s ease-in-out;
}

// 分隔線
[class^="sep-"]{
  --s: 100%;
  --n: 3px;

  background-color: rgb(90, 90, 90, .9);
  border-radius: 99999px;
  margin: 10px 0;
}
.sep-w{
  width: var(--s);
  height: var(--n);
}
.sep-h{
  width: var(--n);
  height: var(--s);
}

// 溢出省略
.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}