@mixin flex-center($mode: 1){
  display: flex;
  align-items: center;

  @if $mode == 1{
    justify-content: center;
  }@else if $mode == 2{
    justify-content: flex-start;
    flex-direction: column;
  }
}

.result-page{
  --bg-c: rgb(56, 56, 56);
  --gap: 20px;
  --br: 10px;

  width: 100%;
  height: 100%;
  min-height: 100%;
  
  overflow-x: hidden;
  overflow-y: auto;

  padding: 20px;

  display: grid;
  grid-template-areas:
  "t1 t1 t3"
  "t2 t2 t3";
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr 1fr 20vw;

  gap: var(--gap);

  // &>div{ background-color: rgb(0, 0, 0); }

  .t1{
    grid-area: t1;
  }

  .t2{
    grid-area: t2;
  }

  .t3{
    grid-area: t3;
  }
}

.t1{
  @include flex-center(2);

  gap: var(--gap);
  
  z-index: 1;

  .t1-1{
    width: 100%; height: 100%;
    @include flex-center();
    justify-content: flex-start;
    gap: var(--gap);
  }

  .func{
    width: max-content;
    height: 40px;
    background-color: var(--bg-c);

    border: none;
    border-radius: var(--br);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    padding: 0 15px;

    @include flex-center(1);

    transition: background-color 0.2s ease-in-out;

    color: rgb(255, 255, 255);
  }
  .func:not(input){
    cursor: pointer;
  }

  .btn:hover{
    background-color: rgb(88, 88, 88);
  }

  .back, .download{
    aspect-ratio: 1 / 1;
    padding: 0;
  }

  .st{
    margin-right: auto;
  }

  .si{
    flex: 1 1;

    padding: 0;

    position: relative;

    input{
      width: 100%; height: 100%;
      background: transparent;
      padding: 0 15px;

      color: rgb(255, 255, 255);
      font-size: .9rem;
      font-weight: 600;
      letter-spacing: .1em;
    }

    .keyword-list{
      width: 100%; height: max-content;
      background-color: rgba(0, 0, 0, 0.2);

      border-radius: 10px;

      gap: 7.5px;
      padding: 10px;

      @include flex-center();
      justify-content: flex-start;
      flex-wrap: wrap;

      position: absolute;
        top: calc(100% + 10px); left: 0;

      .keyword{
        padding: .1em .5em;
        border-radius: 5px;
        background-color: rgb(97, 97, 97);
      }
    }

    input:not(:focus)+.keyword-list{
      display: none;
    }
  }

  .download{
    position: relative;

    .download-type-list-box{
      width: auto;
      height: auto;
      background-color: rgba(179, 179, 179, 0.1);

      overflow: hidden;

      border-radius: 10px;
      padding: 10px;

      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;


      position: absolute;
        top: 120%;
        right: 0;

      transition: all 0.3s ease-in-out;

      .download-type-list{
        width: max-content;
        overflow: hidden;

        gap: 10px;

        @include flex-center(2);

        .dl-type{
          --c: rgb(97, 97, 97);

          width: 8ch;
          background-color: var(--c);

          box-sizing: content-box;
          border-radius: 5px;

          opacity: .8;

          padding: .3em 1em;
          gap: .5ch;

          @include flex-center(1);
          justify-content: normal;
        }
        .dl-type:hover{
          opacity: 1;
          filter: brightness(1.2);
        }
      }
    }
    .download-type-list-box.hide{
      grid-template-rows: 0fr;
      grid-template-columns: 0fr;

      padding: 0;
    }
  }
}

.t2{
  @include flex-center();

  .post-list-box{
    width: 100%;
    height: 100%;
    background-color: var(--bg-c);

    border-radius: var(--br);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    padding: 10px 5px;

    @include flex-center(2);

    .post-count{
      margin-left: 15px;
      margin-right: auto;
      margin-bottom: 10px;

      color: rgb(41, 255, 112);
      font-size: .9em;
    }

    .post-list{
      width: 100%; height: 100%;
    }
  }
}

.t3{
  @include flex-center(2);
  
  gap: var(--gap);
}

.ReactVirtualized__Grid::-webkit-scrollbar {
  --w: 8px;
}
.ReactVirtualized__Grid::-webkit-scrollbar-thumb{
  cursor: grab;
}

.post-data-box{
  background-color: transparent;  border: none;
  padding: 5px;

  .post-data{
    width: 100%; height: 100%;
    background-color: rgb(27, 27, 27);
    border-radius: var(--br);

    padding: 10px;

    display: grid;
    grid-template-areas: 
      "title date type gp-count"
      "content content content content";
    grid-template-rows: 50% 50%;
    grid-template-columns: minmax(0, 1fr) 10ch 12ch 8ch;

    column-gap: 5px;

    color: rgb(255, 255, 255);
    font-size: .9rem;

    &>div{
      @include flex-center();
    }
  
    .title{
      color: rgb(54, 208, 255);
      grid-area: title;
    }

    .date{
      grid-area: date;
    }

    .type{
      grid-area: type;
    }

    .gp-count{
      grid-area: gp-count;
      justify-content: flex-start;
    }

    .content{
      grid-area: content;

      color: rgb(150, 150, 150);
      font-weight: 400;
    }

    .title, .content{
      padding: 0 5px;
      justify-content: flex-start;

      span{
        width: 100%; min-width: 0;
        display: block;
        text-align: left;
      }
    }
  }
}
.post-data-box:active{
  transform: scale(1) !important;
}

.type-rank-box{
  width: 100%;
  background-color: var(--bg-c);
  height: max-content;

  border-radius: var(--br);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  padding: 10px;
  gap: 10px;

  @include flex-center(2);

  font-size: .9rem;

  .post-total{
    width: 100%;
  }

  .type-rank{
    width: 100%;
    @include flex-center(2);

    gap: 5px;

    .type-rank-item{
      width: 100%;
      height: 25px;

      @include flex-center();

      .ratio-bar{


        .type-name, .type-count{
          mix-blend-mode: hard-light;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        }
        
        .type-name{
          margin-right: auto;
        }
        
        .type-count{
          display: flex;

          .type-ratio{
            width: 5.7ch;
            display: block;
            text-align: right;
          }
        }
      }
    }
    .type-rank-item:hover{
      filter: brightness(1.2);
    }
    .type-rank-item.selected{
      filter: brightness(1.2);
    }
  }
}

.post-info-box{
  width: 100%;
  height: max-content;
  background-color: var(--bg-c);

  border-radius: var(--br);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  padding: 10px;
  gap: 15px;

  font-size: .9rem;

  .post-info-total{
    width: 100%;

    @include flex-center();
    justify-content: space-evenly;
  }

  .ratio-bar{
    height: 25px;

    color: rgb(255, 255, 255);

    &::before{
      filter: brightness(1);

      box-shadow: 0 0 2px var(--bg-c);
    }

    .post-info-item{
      width: 100%;
      @include flex-center();
    }

    .num{
      margin-left: auto;
    }

    .ratio{
      width: 5.7ch;
      display: flex;
      justify-content: flex-end;
    }
  }

  .sep-w{
    margin: 5px 0;
  }

  .post-info-postCount, .post-info-gp{
    width: 100%;
    gap: 5px;
  }
}

.f-show-box {
  width: 100vw;
  height: 100vh;
  background-color: rgba(19, 19, 19, 0.5);
  backdrop-filter: blur(1px);
  
  @include flex-center();

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;

  position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

  &.f-show-box-open {
    opacity: 1;
    pointer-events: auto;

    .f-show {
      animation: fade-in 0.5s ease-out;
    }
  }

  .close-f{
    width: 100%; height: 100%;

    position: absolute;
      top: 0; left: 0;
  }

  .f-show {
    width: clamp(300px, 50vw, 800px);
    max-height: 90vh;
    background-color: rgba(12, 12, 12, 0.2);
    backdrop-filter: blur(2px);
    border-radius: var(--br);
    padding: 15px 30px;
    font-size: 1.1rem;

    @include flex-center(2);
    align-items: flex-start;
    position: relative;

    .close {
      @include flex-center();
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.5rem;
    }

    .info {
      width: 100%;
      gap: 10px;
      @include flex-center();
      justify-content: flex-start;
      color: rgb(160, 160, 160);
      font-size: 0.8em;
    }

    .title {
      color: rgb(54, 208, 255);
      font-weight: 600;
    }

    .content {
      width: 100%;
      // max-height: 70vh;

      margin-top: 20px;
      overflow-y: auto;

      span{
        width: 100%;
        word-break: break-all;
      }

      img{
        width: 100%;
        height: auto;
      }
    }

    .link {
      width: 100%;
      background: linear-gradient(135deg, 
        rgb(132, 56, 255), 
        rgb(15, 199, 255)
      );
      user-select: none;

      border-radius: 99999px;
      padding: 5px;
      margin: 20px 0;
      @include flex-center();
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1100px){
.result-page{
  --gap: 15px;

  grid-template-areas:
  "t1"
  "t2"
  "t3";
  grid-template-rows: max-content calc(90vh - 40px) max-content;
  grid-template-columns: 1fr;

  .t1{
    // flex-direction: row;
  }

  // .t2{
  // }

  .t3{
    height: 300px;
    flex-direction: row;

    &>div{
      // width: 400px;
      height: 100%;

      overflow-y: auto;
    }
  }
}
}